body{
    margin: 0;
   font-family: 'Raleway', sans-serif;
}  
    
  /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
     
    height: 85px;
      margin: 0;
        background-color: rgb(83, 81, 81);
        border: 0;
      
    }
.navbar-brand{
    /*padding:35px 35px 35px 35px;*/
  color:gainsboro!important;
   
    margin: 20px;
    margin-left: 150px!important;
    letter-spacing: 0.2em;
    font-size: 20px;
    font-size-adjust: auto;
    font-weight: bold;
   
   
}
li a img{
   height: 17px;
   
}
    
  .photo {
     
      width: 100%;
      height:650px;
      margin-bottom: -35px;
      background-image: url( images/84770f_b5b78cd83b6342199b7370a2ba6b9e06.jpg);
      background-repeat: no-repeat;
      background-size: auto auto;
      background-position:center center;
      background-blend-mode: hard-light;
  
     
  }
